{{extend 'layout.html'}}

<hr/> 
{{ for x in rows: }}
<div class ="row">
    <img class="col col-lg-4 col-md-6 col-sm-6 col-xs-12" src="{{=x.Picture}}" alt="image" />
    <div class="col col-lg-8 col-md-6 col-sn-6 col-xs-12">
        <p class="lead">
            <b>{{=x.Name}}</b>
        </p>
        <p>
            <b>{{=x.Price}}</b>
        </p>
        <p>
            {{x.farmer}}
        </p>
        <p>
            {{x.Farmer_email}}
        </p>
        <p>
            <form method=post action="Order">
                <input type="hidden" name="Name" value="{{=x.id}}" />
                <input type="text" size=2 name="qty" value=1 />
                <input class="btn-primary" type="submit" value="Add to cart" />
            </form>
        </p>
        <p>
            Posted by: &nbsp; {{=userdict[x.created_by]}}
        </p>
    </div>
</div>
<hr/>
{{ pass }}
<a href="post">Post</a>
