{{extend 'layout.html'}}

<hr/> 
{{ for x in prodrows: }}
<div class ="row">
    <img class="col col-lg-4 col-md-6 col-sm-6 col-xs-12 rounded" src="{{=x.picture}}" alt="" />
    <div class="col col-lg-8 col-md-6 col-sn-6 col-xs-12">
        <h1>
            <b>{{ =x.product_name }}</b>
        </h1>
        <p>
            <b>{{ =x.description }}</b>
        </p>
        <p>
            <b>Seller: {{ =x.seller }}</b>
        </p>
        <p>
            <b>Status: {{ =x.avability }}</b>
        </p>
        <p>
            <b>{{ =x.price }} MDL\KG</b>
        </p>
        
        <p>
            
            <form method=post action="order">
                <input type="hidden" name="Name" value="{{=x.id}}" />
                <input type="text" size=2 name="qty" value=1 />
                <input class="btn-primary" type="submit" value="Add to cart" />
            </form>
        </p>
        
    </div>
</div>
<hr/>

{{ pass }}
